*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --clr: #222327;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;

}
.navigator{
  width: 400px;
  height: 70px;
  background: #fff;
  display: flex;
  position: fixed;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  bottom: 20px;
}
.navigator ul{
  display: flex;
}
.navigator ul li{
  position:  relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;

}
.navigator ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigator ul li a .icon{ 
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5;
  padding-top: 10px;
  text-align: center;
  transition: 0.5s;
  background-color: #fff;
  width: 80px;
  border-radius: 50px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.navigator ul li:hover a .icon{
  transform: translateY(-50px);
  background-color: #fff;
  width: 80px;
  height: 100px;
  border-radius: 50px;
}
.navigator ul li a .text{
  position: absolute;
  color:  var(--clr);
  font-weight: 400px;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.05s;
  opacity: 0;
  transform: translateY(20px);
} 
.navigator ul li:hover a .text{
  opacity: 1;
  transform: translateY(10px);
}
.his-cont{
  display: flex;
  

}
.legend-aire{
  padding-right: 10px;
  font-size: 1.5em;
  color: #002552;
  font-family: "Vibur", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAEADF;
  width: 100%;
}
.legend-agua{
  padding-left: 50px;
  font-size: 1.2em;
  color: #85c0cf;
  font-family: "Madimi One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022857;
  width: 150%;
}
.legend-tierra{
  font-family: "Slabo 13px", serif;
  color: #fff0cf;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #662d00;
  width: 100%;
}
.legend-fuego{
  font-size: 1.5em;
  padding-left: 30px;
  color: #fffbde;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4492a;
  width: 100%;
}
.img-story img{
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.aire{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAEADF;
  height: 100vh;
  width: 100%;
}
.agua{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022857;
  height: 100vh;
  width: 100%;
}
.tierra{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #662d00;
  height: 100vh;
  width: 100%;
}
.fuego{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4492a;
  height: 100vh;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
.text-info{
  text-align: center;
}
p{
  padding-bottom: 20px;
}
.img-profile{
  object-fit: cover;
}